@import url("https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: Arial, sans-serif;
  margin: 0 auto;
  padding: 0;
  background-color: #f5f5f5;
}

a {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: #333;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-logo img {
  max-height: 50px;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.navbar li {
  margin: 0 15px;
}

.navbar a {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  transition: opacity 0.5s;
}

.navbar a:hover {
  opacity: 0.5;
}

.footer {
  background-color: #333;
  color: white;
  padding: 20px 0;
  text-align: center;
  margin: 0;
  margin-top: 20px;
  position: relative;
  left: 0;
  box-sizing: border-box;
}

.footer-links {
  margin-bottom: 15px;
}

.footer-links a {
  color: white;
  margin: 0 15px;
  text-transform: uppercase;
  font-weight: bold;
}

.social-icons a {
  margin: 0 10px;
  color: white;
  font-size: 20px;
}
