@import url("https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/* General styling */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

h1 {
  text-align: center;
  color: #333;
  margin-top: 20px;
}

/* Navbar styling */
.navbar {
  background-color: #333;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-logo img {
  max-height: 50px;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.navbar li {
  margin: 0 15px;
}

.navbar a {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

/* Main content styling */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.container h1 {
  margin-bottom: 20px;
  font-family: "Bitter", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.train-list {
  display: flex;
  flex-direction: column; /* Vertical layout */
  gap: 20px; /* Space between train items */
}

/* Ensure consistent width for all train cards */
.train-item {
  display: flex; /* Horizontal layout for image and text */
  align-items: center;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 900px; /* Max width for train card */
  width: 100%; /* All cards same width */
  margin: 0 auto;
  box-sizing: border-box;
}

.train-item img {
  max-width: 200px;
  height: auto;
  border-radius: 5px;
  margin-right: 20px;
}

/* Train info section */
.train-info {
  flex: 1;
}

.train-info h3 {
  color: #007bff;
  margin-bottom: 10px;
}

.train-info p {
  margin-bottom: 15px;
  white-space: normal; /* Allow text wrapping */
  word-wrap: break-word; /* Break long words if needed */
}

.btn {
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #0056b3;
}

.footer {
  background-color: #333;
  color: white;
  padding: 20px 0;
  text-align: center;
  margin: 0; /* Ensure no margins */
  margin-top: 20px;
  position: relative;
  left: 0; /* Ensure the footer is aligned to the left */
  box-sizing: border-box; /* Include padding and borders in the element's width */
}

.footer-links {
  margin-bottom: 15px;
}

.footer-links a {
  color: white;
  margin: 0 15px;
  text-transform: uppercase;
  font-weight: bold;
}

.social-icons a {
  margin: 0 10px;
  color: white;
  font-size: 20px;
}
